In [1]:
# Up to 2019-01-04

import pandas as pd
import sqlalchemy
import datetime
import os

os.getcwd()

'/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2020Q1'

In [2]:
def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root,file)
            
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )

In [3]:
pd.read_sql("show tables;",con=BL_engine)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

     Tables_in_BigLots
0          BL_POS_Item
1      BL_POS_Subclass
2    BL_Rewards_Master
3       Pred_CRM_table
4  Pred_POS_Department

In [4]:
pd.read_sql("desc Pred_POS_Department;",con=BL_engine)

                    Field           Type Null  Key Default Extra
0             location_id        int(11)  YES  MUL    None
1          transaction_dt           date  YES  MUL    None
2          transaction_id    varchar(16)  YES         None
3      customer_id_hashed       char(64)  YES         None
4           department_id    varchar(16)  YES         None
5                   sales  decimal(10,2)  YES         None
6                   units        int(11)  YES         None
7  trans_order_since_18Q1        int(11)  YES         None

In [5]:
lastdate_date=datetime.date(2020,1,4)

# pd.read_sql("select max(transaction_dt) as last_date from Pred_POS_Department;",con=BL_engine)

Beginning_12_months_ago = str(lastdate_date-datetime.timedelta(days=52*7-1)) # Sunday
Beginning_18_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*1.5-1)) # Sunday
Beginning_48_months_ago=str(lastdate_date-datetime.timedelta(days=52*7*4-1)) # Sunday

lastdate_str=str(lastdate_date)
print("Active Start on: "+Beginning_12_months_ago) #>=
print("Lapsed & Store_allocation Start on: "+Beginning_18_months_ago) #>=
print("Lapsed 19-48 Start on: "+Beginning_48_months_ago) #>=

Active Start on: 2019-01-06
Lapsed & Store_allocation Start on: 2018-07-08
Lapsed 19-48 Start on: 2016-01-10

In [47]:
df_id_list_example=pd.read_sql("select * from Pred_CRM_table limit 50;",con=BL_engine)
id_eg_1="'"+df_id_list_example['customer_id_hashed'].tolist()[11]+"'"
id_eg_1

"'000013ba448289fab54f20aef62fd838476da5d9ab2f10819c501ece1bc59871'"

In [43]:
df_qc_trans_id=pd.read_sql("select * from Pred_POS_Department where customer_id_hashed=%s;"% id_eg_1,con=BL_engine) 
df_qc_trans_id

InternalError: (pymysql.err.InternalError) (1054, "Unknown column '000013ba448289fab54f20aef62fd838476da5d9ab2f10819c501ece1bc59871' in 'where clause'") [SQL: 'select * from Pred_POS_Department where customer_id_hashed=000013ba448289fab54f20aef62fd838476da5d9ab2f10819c501ece1bc59871;']

In [8]:
df_top_store_18_POS=pd.read_sql(
"select customer_id_hashed, location_id, count(distinct concat(transaction_dt, transaction_id)) as distinct_comb_trans, \
count(disctinct trans_order_since_18Q1) as dist_trans, sum(sales) as sales from Pred_POS_Department \
gruop by customer_id_hashed, location_id \
where location_id!=6990 and customer_id_hashed is not null and transaction_dt >= %s;" % Beginning_18_months_ago
,con=BL_engine)

,location_id,transaction_dt,transaction_id,customer_id_hashed,department_id,sales,units,trans_order_since_18Q1
0,5137,2018-02-08,3863,0000355c755ac22a52bdcd0ff7bd29b87df5191a9c6a07...,108,2.00,1,1
1,5137,2018-02-08,3863,0000355c755ac22a52bdcd0ff7bd29b87df5191a9c6a07...,111,5.40,3,1
2,1875,2018-02-07,583,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,6.18,7,1
3,1875,2018-02-07,583,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,5.82,1,1
4,822,2018-02-09,5775,00005467f85fb0c0fe7fe07ade6ae26f253557b00d85dd...,114,5.90,3,1
5,822,2018-02-09,5775,00005467f85fb0c0fe7fe07ade6ae26f253557b00d85dd...,120,2.50,2,1
6,822,2018-02-09,5775,00005467f85fb0c0fe7fe07ade6ae26f253557b00d85dd...,520,7.00,2,1
7,4568,2018-02-04,3624,00005b58803e96908ce628f77ef5becbc47979a38de18d...,170,31.90,3,1
8,5215,2018-02-08,6199,0000784242afecb251c9cfe90d8d3c1246526071b87ede...,108,4.75,3,1
9,5215,2018-02-08,6199,0000784242afecb251c9cfe90d8d3c1246526071b87ede...,109,3.00,1,1
10,5215,2018-02-08,6199,0000784242afecb251c9cfe90d8d3c1246526071b87ede...,110,2.00,2,1
11,5215,2018-02-08,6199,0000784242afecb251c9cfe90d8d3c1246526071b87ede...,114,2.00,2,1
12,5215,2018-02-08,6199,0000784242afecb251c9cfe90d8d3c1246526071b87ede...,120,3.50,1,1
13,4393,2018-02-08,3696,00007ec4ed190457b3f336327cdaa39e98bb818c6ef907...,110,2.65,2,1
14,4393,2018-02-08,3696,00007ec4ed190457b3f336327cdaa39e98bb818c6ef907...,410,3.00,1,1
15,4108,2018-02-10,8126,0000a0023791cdc64bd0c39197e0865b6c69f0dca7b5c2...,108,3.00,3,1
16,4108,2018-02-10,8126,0000a0023791cdc64bd0c39197e0865b6c69f0dca7b5c2...,210,14.00,2,1
17,509,2018-02-06,9137,0000a146cfe1d87ecd92801ef984b72324a49cc5af429e...,108,2.50,1,1
18,509,2018-02-06,9137,0000a146cfe1d87ecd92801ef984b72324a49cc5af429e...,160,12.28,4,1
19,4583,2018-02-10,1381,0000a4425aec2bd73e860c2e9ec7cfa662c8909cf399f0...,110,2.88,1,1

In [16]:
pd.read_sql("select * from Pred_POS_Department limit 20;",con=BL_engine)['customer_id_hashed'].unique().tolist()

['0000355c755ac22a52bdcd0ff7bd29b87df5191a9c6a07442311e77abfd17073',
 '00004d161929f36dc892fae11bff1c106d699e51daf5e0aca6c9dddfb5d74caa',
 '00005467f85fb0c0fe7fe07ade6ae26f253557b00d85dd7c918cc184e569c68a',
 '00005b58803e96908ce628f77ef5becbc47979a38de18d15f3a71a29bdcc77d0',
 '0000784242afecb251c9cfe90d8d3c1246526071b87edeb661f75df8dece099b',
 '00007ec4ed190457b3f336327cdaa39e98bb818c6ef907d7c1e5b247c9bfec48',
 '0000a0023791cdc64bd0c39197e0865b6c69f0dca7b5c2da4ec7c4e7ddfad3ea',
 '0000a146cfe1d87ecd92801ef984b72324a49cc5af429ed4ae261322e6d416ef',
 '0000a4425aec2bd73e860c2e9ec7cfa662c8909cf399f045102f512702fa67c7']

In [20]:
pd.options.display.max_rows=100
df_check_1_id=pd.read_sql("select * from Pred_POS_Department where customer_id_hashed='00004d161929f36dc892fae11bff1c106d699e51daf5e0aca6c9dddfb5d74caa';",con=BL_engine)
df_check_1_id

,location_id,transaction_dt,transaction_id,customer_id_hashed,department_id,sales,units,trans_order_since_18Q1
0,1875,2018-02-07,583,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,6.18,7,1
1,1875,2018-02-07,583,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,5.82,1,1
2,1955,2018-02-17,7382,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,8.36,4,2
3,1955,2018-02-17,7382,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,110,3.14,2,2
4,1875,2018-03-03,543,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,3.00,1,1
5,1875,2018-03-03,543,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,150,4.20,1,1
6,1955,2018-04-07,9837,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,52.24,28,1
7,1955,2018-04-07,9837,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,110,6.72,3,1
8,1955,2018-04-07,9837,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,111,7.32,3,1
9,1955,2018-04-07,9837,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,25.32,20,1
10,1955,2018-04-07,9837,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,410,0.80,1,1
11,1955,2018-04-07,9843,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,111,-1.32,0,2
12,1875,2018-04-14,1312,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,110,1.50,1,3
13,1875,2018-04-14,1312,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,111,1.80,1,3
14,1875,2018-04-14,1312,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,114,1.00,1,3
15,1955,2018-05-05,727,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,7.63,7,1
16,1955,2018-05-05,727,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,60.62,24,1
17,1955,2018-05-12,3121,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,4.25,2,2
18,1955,2018-05-12,3121,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,110,5.60,2,2
19,1955,2018-05-12,3121,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,13.80,6,2
20,1875,2018-05-26,9411,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,13.00,6,1
21,1955,2018-06-23,9888,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,9.25,2,1
22,1955,2018-07-08,1399,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,108,0.71,1,1
23,1955,2018-07-08,1399,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,11.54,5,1
24,1955,2018-07-08,1400,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,6.60,2,2
25,1955,2018-07-08,1400,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,110,2.40,1,2
26,1955,2018-07-08,1400,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,2.24,1,2
27,1875,2018-10-27,9509,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,11.07,3,1
28,1875,2018-10-27,9509,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,130,3.58,1,1
29,1955,2019-01-19,5277,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,25.96,13,1
30,1955,2019-01-19,5277,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,114,0.80,1,1
31,1955,2019-01-19,5277,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,18.80,5,1
32,1955,2019-01-19,5277,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,330,1.20,1,1
33,1955,2019-01-19,5277,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,360,0.60,1,1
34,1875,2019-01-20,5692,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,23.76,7,2
35,1875,2019-01-20,5692,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,410,1.60,1,2
36,1955,2019-02-23,1529,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,110,3.00,3,1
37,1955,2019-02-23,1529,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,114,7.50,10,1
38,1955,2019-03-09,5398,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,20.50,9,1
39,1875,2019-03-21,8604,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,61.38,24,1
40,1875,2019-03-21,8604,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,114,2.27,3,1
41,1955,2019-04-13,5008,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,0.00,1,1
42,1955,2019-04-13,5008,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,110,0.50,1,1
43,1955,2019-04-13,5008,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,114,3.85,7,1
44,1955,2019-04-13,5008,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,140,1.30,2,1
45,1955,2019-04-20,420,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,9.75,3,2
46,1955,2019-05-11,3205,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,8.93,4,1
47,1955,2019-05-11,3205,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,114,2.07,3,1
48,1955,2019-05-11,3206,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,362,1.56,13,2
49,1955,2019-05-27,8001,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,46.78,15,1
50,1955,2019-05-27,8001,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,24.12,6,1
51,1955,2019-07-13,7340,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,51.00,17,1
52,1955,2019-07-13,7340,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,114,0.40,1,1
53,1955,2019-07-13,7340,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,9.96,4,1
54,5198,2019-07-13,8838,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,108,0.80,1,2
55,5198,2019-07-13,8838,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,2.40,3,2
56,1955,2019-07-20,4829,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,13.75,5,3
57,1955,2019-08-10,941,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,43.53,14,1
58,1955,2019-08-24,4879,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,110,1.75,1,1
59,1955,2019-08-24,4879,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,6.00,1,1
60,1955,2019-08-24,4879,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,364,5.00,4,1
61,1955,2019-09-28,2179,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,36.84,15,1
62,1955,2019-09-28,2179,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,28.24,7,1
63,1955,2019-09-28,2179,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,410,0.80,1,1
64,1955,2019-10-26,3964,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,6.09,3,1
65,1955,2019-10-26,3964,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,2.54,1,1
66,1955,2019-10-26,3964,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,140,1.82,2,1
67,1955,2019-10-26,3965,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,36.28,11,2
68,1955,2019-10-26,3965,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,110,2.89,3,2
69,1955,2019-10-26,3965,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,114,2.77,5,2
70,1955,2019-10-26,3965,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,3.10,1,2
71,1955,2019-10-26,3965,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,140,1.11,1,2
72,1875,2019-10-27,9727,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,88.16,20,3
73,1875,2019-10-27,9727,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,550,0.00,1,3
74,1955,2019-11-02,6116,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,11.96,8,4
75,1955,2019-11-02,6116,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,150,0.00,1,4

,location_id,transaction_dt,transaction_id,customer_id_hashed,department_id,sales,units,trans_order_since_18Q1
0,1875,2018-02-07,583,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,6.18,7,1
1,1875,2018-02-07,583,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,120,5.82,1,1
2,1955,2018-02-17,7382,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,8.36,4,2
3,1955,2018-02-17,7382,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,110,3.14,2,2
4,1875,2018-03-03,543,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,3.00,1,1
...,...,...,...,...,...,...,...,...
71,1955,2019-10-26,3965,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,140,1.11,1,2
72,1875,2019-10-27,9727,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,88.16,20,3
73,1875,2019-10-27,9727,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,550,0.00,1,3
74,1955,2019-11-02,6116,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,109,11.96,8,4
75,1955,2019-11-02,6116,00004d161929f36dc892fae11bff1c106d699e51daf5e0...,150,0.00,1,4

In [12]:
pd.read_sql("show processlist;",con=BL_engine)

,Id,User,Host,db,Command,Time,State,Info
0,146,jian,localhost,BigLots,Sleep,3346,,None
1,151,jian,localhost:46588,BigLots,Query,0,starting,show processlist