In [1]:
# 2019-06-07

import pandas as pd
import paramiko
import numpy as np
import datetime
import os

os.getcwd()

'/home/jian/BigLots/New_Sing_Ups_2018_Fiscal_Year'

In [2]:
host = "64.237.51.251" #hard-coded
port = 22
transport = paramiko.Transport((host, port))

password = "bwRi3V6fgZsfJrMl" #hard-coded
username = "client" #hard-coded
transport.connect(username = username, password = password)
sftp = paramiko.SFTPClient.from_transport(transport)

In [3]:
remote_path="/mnt/drv5/biglots_data/MediaStorm Rewards Master P4 2019 - no transaction info.zip"
localpath="./"+os.path.basename(remote_path)
sftp.get(remote_path,localpath)
sftp.close()

In [4]:
# Same columns names confirmed

localpath="/home/jian/BigLots/New_Sing_Ups_2018_Fiscal_Year/MediaStorm Rewards Master P4 2019 - no transaction info.zip"
df=pd.read_table(localpath,dtype=str,sep="|",compression="zip")
df.shape

(461199, 13)

In [11]:
df.tail(3)

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code,transaction_count,transaction_amount,experian_multi_cluster,experian_demo_cluster,purchase_channel,email_unsubscribe_indicator,email_undeliverable_indicator
461196,777c5d292e73c5c07f74f11356cc1cb8b32782620fd6ba...,b23e4d2d707eeae766a0874f2ef2b2e01d5edd9166e4be...,2019-05-05,ONLINE,6990,NaN,NaN,NaN,NaN,NaN,NaN,N,N
461197,371db3edff000ab40be843f7f897586482f4262668ec00...,f6d60ec88b6b8c29df5a510b288f23656e7a3d4bbe975b...,2019-05-17,STORE,1471,13021,NaN,NaN,NaN,NaN,NaN,N,N
461198,276fcc45a4439b0f3afd98ef25f37e34db2a2cfa900068...,1300869c504229deeb506f714acaa14d5d8959d1e0f3b5...,2019-05-28,ONLINE,6990,NaN,NaN,NaN,NaN,NaN,NaN,N,N

In [9]:
print(df['sign_up_date'].min())
print(df['sign_up_date'].max())

2019-05-05
2019-06-01

In [10]:
df['customer_id_hashed'].nunique()

461195

In [12]:
df['email_address_hash'].nunique()

461191

In [13]:
df[['customer_id_hashed','sign_up_date','customer_zip_code']].drop_duplicates().shape

(461197, 3)

In [14]:
df[['customer_id_hashed','sign_up_date']].drop_duplicates().shape

(461195, 2)

In [15]:
aaa_2d=df.groupby(['customer_id_hashed','sign_up_date'])['sign_up_channel'].count().to_frame().reset_index().sort_values("sign_up_channel",ascending=False)
aaa_2d.head(5)

,customer_id_hashed,sign_up_date,sign_up_channel
143987,4fe479ebda2b9c390724880473149c710387bd4554360f...,2019-05-22,2
173406,602841e6cb9576fb6132151f97e9a1bde3275391ae34b4...,2019-05-18,2
224032,7c3a9a7f51b54a83adb082deee6c16b7ffaea56cef483a...,2019-05-27,2
271675,96a54ac02e308ee255307d38a216bbc6023d9163b79fe0...,2019-05-26,2
0,000004f194afdc2c2c26365032ea084974396ee79a7d37...,2019-05-16,1

In [17]:
df[df["customer_id_hashed"]==aaa_2d['customer_id_hashed'].tolist()[2]]

,customer_id_hashed,email_address_hash,sign_up_date,sign_up_channel,sign_up_location,customer_zip_code,transaction_count,transaction_amount,experian_multi_cluster,experian_demo_cluster,purchase_channel,email_unsubscribe_indicator,email_undeliverable_indicator
207159,7c3a9a7f51b54a83adb082deee6c16b7ffaea56cef483a...,79e782cb24c1c6fd598f6eb5cd4b4f6761307abac7ffc9...,2019-05-27,ONLINE,6990,12208,NaN,NaN,NaN,NaN,NaN,N,N
447252,7c3a9a7f51b54a83adb082deee6c16b7ffaea56cef483a...,79e782cb24c1c6fd598f6eb5cd4b4f6761307abac7ffc9...,2019-05-27,ONLINE,6990,12203-1222,NaN,NaN,NaN,NaN,NaN,N,N

In [16]:
aaa_3d=df.groupby(['customer_id_hashed','sign_up_date','customer_zip_code'])['sign_up_channel'].count().to_frame().reset_index().sort_values("sign_up_channel",ascending=False)
aaa_3d.head(5)

,customer_id_hashed,sign_up_date,customer_zip_code,sign_up_channel
103897,4fe479ebda2b9c390724880473149c710387bd4554360f...,2019-05-22,02038,2
125208,602841e6cb9576fb6132151f97e9a1bde3275391ae34b4...,2019-05-18,44444,2
0,000010f647b2e4498d2d4a4053eeb4c9db366ff19cd26a...,2019-05-19,44484,1
221516,aa6512ec9b69bbffe9ba60a93af5d36febb5d0343b5679...,2019-05-11,30425,1
221522,aa66521d4829530a33a9ae3103697fa500303fbefef9f7...,2019-05-31,23860,1

In [18]:
pre_df=pd.read_table("/home/jian/BigLots/New_Sing_Ups_2018_Fiscal_Year/All Rewards Members 2018-02-04 - 2019-05-04.zip",dtype=str,sep="|",compression="zip")
pre_df.shape

(7888562, 13)

In [19]:
bbb_2d=df.groupby(['customer_id_hashed','sign_up_date'])['sign_up_channel'].count().to_frame().reset_index().sort_values("sign_up_channel",ascending=False)
bbb_2d.head(20)

,customer_id_hashed,sign_up_date,sign_up_channel
143987,4fe479ebda2b9c390724880473149c710387bd4554360f...,2019-05-22,2
173406,602841e6cb9576fb6132151f97e9a1bde3275391ae34b4...,2019-05-18,2
224032,7c3a9a7f51b54a83adb082deee6c16b7ffaea56cef483a...,2019-05-27,2
271675,96a54ac02e308ee255307d38a216bbc6023d9163b79fe0...,2019-05-26,2
0,000004f194afdc2c2c26365032ea084974396ee79a7d37...,2019-05-16,1
307461,aa7f6fafec37841ffbb1c9178a00f0b7e90babff9e7982...,2019-05-22,1
307470,aa80a9ee034da0ca2ecad86f4215a23e927f3179152b2f...,2019-05-10,1
307469,aa8098d3669ecac072f98f32cc491575115ca22da81bbe...,2019-05-23,1
307468,aa806011ef77e34be6115c49780a4194a7f8935af5ba02...,2019-05-20,1
307467,aa8043cfe6778d2758e5f4aa5bbccf340ab250c37b3153...,2019-05-23,1
307466,aa800bb17ab054f5461e6f74f6bfbc7bc045061a069961...,2019-05-11,1
307465,aa8000177cb733beecbe38c2a6f1c32e148db1aabaf8be...,2019-05-30,1
307464,aa7fd1be0daae1f572f080700a89db34db47610af75aeb...,2019-05-23,1
307463,aa7fb3499915d45242e7f3e5ea10d81de6957eb73ef187...,2019-05-15,1
307462,aa7fa312d3af7a1c9d7da3c8c227c62b70b7c47dbd0bf4...,2019-05-14,1
307460,aa7f4701a531202638b37df2e6d79828d0dfd964aa4097...,2019-05-17,1
307472,aa80bd037e2176f39f71ab2925bfcd8f419c37cd6a89ce...,2019-05-07,1
307459,aa7f286e4f25acf375c1c966fe02682a8d599818af8ca3...,2019-05-21,1
307458,aa7f1badac3ca2d9f4bef33603628daf0f88b2ffed7900...,2019-05-05,1
307457,aa7ebcc9518881ee6fe60174fe8e2192cf386c4838a4ab...,2019-05-17,1

In [20]:
bbb_3d=df.groupby(['customer_id_hashed','sign_up_date','customer_zip_code'])['sign_up_channel'].count().to_frame().reset_index().sort_values("sign_up_channel",ascending=False)
bbb_3d.head(20)

,customer_id_hashed,sign_up_date,customer_zip_code,sign_up_channel
103897,4fe479ebda2b9c390724880473149c710387bd4554360f...,2019-05-22,02038,2
125208,602841e6cb9576fb6132151f97e9a1bde3275391ae34b4...,2019-05-18,44444,2
0,000010f647b2e4498d2d4a4053eeb4c9db366ff19cd26a...,2019-05-19,44484,1
221516,aa6512ec9b69bbffe9ba60a93af5d36febb5d0343b5679...,2019-05-11,30425,1
221522,aa66521d4829530a33a9ae3103697fa500303fbefef9f7...,2019-05-31,23860,1
221521,aa65db872ed109e3f3cd5530fe7ff98402e11eb95ad2c5...,2019-05-23,95350,1
221520,aa65d144e4335e0b88108df7675e4a2320f005cf471405...,2019-05-18,37774,1
221519,aa65ca189d75cd193eb4fdcc45ca0f12339463bce0d54b...,2019-05-16,06360,1
221518,aa657930f737b7438c70b08d25e19555a114f8fe5f5dd7...,2019-05-17,34761,1
221517,aa651b34f68e36884f86f3e4a00f045ca4a43ea52d0ec9...,2019-06-01,49078,1
221515,aa65050954d8dddae72c554ad09664687ae63f661cb785...,2019-06-01,94544,1
221524,aa666deb90b9cdaeb0d14df3f74adfb5e8d3bf1c30829e...,2019-05-25,27577,1
221514,aa64a2ae1d58c3c7520b24ec458276374d7beaf3f3c36e...,2019-05-28,46410,1
221513,aa64582c87c9694019461c2bf2c2b038da0e477ce3e536...,2019-05-27,27006,1
221512,aa64513367f85f9ae6e04c5c29d51ee41edf811cbf96aa...,2019-05-25,95209,1
221511,aa6431f64f30e1c9483fd7a190f4cb4470cdd1dcad6ed2...,2019-05-17,45638,1
221510,aa642180f4425954b00d6def284c0cc050192362b98521...,2019-05-25,43557,1
221509,aa641d3beeab8663795ae2340a1bc3574dfa46166bd695...,2019-05-14,70737,1
221508,aa63961a0bc1d78698be70458211f73f2b4686192dd7c5...,2019-05-20,14304,1
221523,aa6653e048475e199b2ed87269d4f23f2427b492cd29f2...,2019-05-25,20705,1

Socket exception: Connection reset by peer (104)