In [1]:
# update below
'''
Sales by Division by target group, by control vs test
Sign ups by In-store vs on-line by target group, by control vs test
'''
import pandas as pd
import datetime
import glob
import os
import numpy as np
print(os.getcwd())
print(datetime.datetime.now())

/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing
2020-06-05 18:03:12.092560

In [2]:
df_after_upload=pd.read_csv('/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing/Mobile_ID_mapping/CL_BigLots_Control_seg_3_nonfurn_visitor_20200506_125127_0000.psv.gz',
                           dtype=str,sep="|",compression="gzip")
df_after_upload.shape

(209014, 2)

In [3]:
df_before_upload=pd.read_csv('/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing/sliced_ids_by_segments/Control_seg_3_nonfurn_visitor.csv',
                           dtype=str)
df_before_upload.shape

(208580, 2)

In [4]:
list_MID_mapping=glob.glob("/home/jian/Projects/Big_Lots/Analysis/2020_Q1/FB_Mobile_testing/Mobile_ID_mapping/*.psv.gz")
df_all_MID_mapping=pd.DataFrame()
for file in list_MID_mapping:   
    df=pd.read_csv(file,dtype=str,sep="|",compression="gzip")
    print(os.path.basename(file),df.shape)
    
    df=df[df['Customer_Link']!="UNMATCHED"]
    df_all_MID_mapping=df_all_MID_mapping.append(df)

CL_BigLots_Control_seg_3_nonfurn_visitor_20200506_125127_0000.psv.gz (209014, 2)
CL_BigLots_Control_seg_2_BL_vacinity_20200506_125123_0000.psv.gz (188331, 2)
CL_BigLots_Test_Phase1_seg_3_nonfurn_visitor_20200506_125118_0000.psv.gz (2438789, 2)
CL_BigLots_Test_Phase1_seg_2_BL_vacinity_20200506_125119_0000.psv.gz (941686, 2)
CL_BigLots_Control_seg_1_BL_visitor_20200506_125120_0000.psv.gz (226718, 2)
CL_BigLots_Test_Phase1_seg_1_BL_visitor_20200506_125118_0000.psv.gz (1813679, 2)
CL_BigLots_Test_Phase1_seg_4_grocery_visitor_20200506_125130_0000.psv.gz (717394, 2)
CL_BigLots_Control_seg_4_grocery_visitor_20200506_124917_0000.psv.gz (215200, 2)

In [5]:
df_all_MID_mapping.head(2)

,Customer_Link,group
3,XY1468ZMmHorxsaQEtWSi3mu754Pv6tCVkIrI7ws_2aZtYPpQ,Control_seg_3_nonfurn_visitor
4,XY1468m9CtSDGkmx778U3C0GxuxFuhzhBCSgOQpDkqwenKpls,Control_seg_3_nonfurn_visitor

In [6]:
df_summary_of_matched_id_count=df_all_MID_mapping.groupby("group")['Customer_Link'].count().to_frame().reset_index().rename(columns={"Customer_Link":"matched_id_counts"})
df_summary_of_matched_id_nunique=df_all_MID_mapping.groupby("group")['Customer_Link'].nunique().to_frame().reset_index().rename(columns={"Customer_Link":"matched_id_nunique"})
df_summary_of_matched_id=pd.merge(df_summary_of_matched_id_count,df_summary_of_matched_id_nunique,on="group",how="outer")
df_summary_of_matched_id

                               group  matched_id_counts  matched_id_nunique
0           Control_seg_1_BL_visitor             148181              148031
1          Control_seg_2_BL_vacinity             116961              116923
2      Control_seg_3_nonfurn_visitor             111088              111031
3      Control_seg_4_grocery_visitor              83827               83788
4       Test_Phase1_seg_1_BL_visitor            1183468             1174588
5      Test_Phase1_seg_2_BL_vacinity             586171              584856
6  Test_Phase1_seg_3_nonfurn_visitor            1296452             1288883
7  Test_Phase1_seg_4_grocery_visitor             278817              278454

In [7]:
df_BL_id_mapping=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Mapping_Files/all_LR_returned/CL_BigLots_BL_mapping_file_2020Q1_JL_2020-05-13_20200514_172449_0000.psv.gz",
                            dtype=str,sep="|",compression="gzip")
df_BL_id_mapping.head(2)

,Customer_Link,customer_id_hashed,segment
0,XY1468JYDucT7nAHqbP0nTwx2g2YXFd7oE-Ns_ksNkqyDyJrw,fb06e28fae22be4687038ceb72eed543b7d7af4a6cbbfc...,T_Legacy_Lapsed1318_L_P_Above50K_SingleFamily_...
1,Xi1468LHmoTx2mIkTbbURLh3KFxI3Hmvm6WQhQTQlSj8ha...,65abd0f8c70be4af489bee446cf0901059f5ab8338b490...,T_Legacy_Active_H_P_Above50K_SingleFamily_Comp...

In [8]:
df_all_MID_mapping.head(2)

,Customer_Link,group
3,XY1468ZMmHorxsaQEtWSi3mu754Pv6tCVkIrI7ws_2aZtYPpQ,Control_seg_3_nonfurn_visitor
4,XY1468m9CtSDGkmx778U3C0GxuxFuhzhBCSgOQpDkqwenKpls,Control_seg_3_nonfurn_visitor

In [9]:
df_ID_matched_both=pd.merge(df_BL_id_mapping,df_all_MID_mapping,on="Customer_Link",how="inner")
df_ID_matched_both.shape

(415072, 4)

In [10]:
df_ID_matched_both.head(2)

,Customer_Link,customer_id_hashed,segment,group
0,XY14689s57KIYMgOXfS7veEmam_FtKe3UJ9t3xhd6RsDsun3I,7c4dad94921c6df2dc592b1fdcaa7df2f100096656bcdf...,T_Legacy_Active_M_S_Below50K_SingleFamily_Comp...,Test_Phase1_seg_3_nonfurn_visitor
1,XY1468Rf6AJsCYN-CX7FMjUqeLmM578xjoOL3K6EY2gvP2IFs,8bf996a56a791ccd383ba7bb0c2432703701814e56817f...,T_Legacy_Active_M_S_Below50K_SingleFamily_Comp...,Test_Phase1_seg_3_nonfurn_visitor

In [11]:
def recursive_file_gen(root_path):
    for root, dirs, files in os.walk(root_path):
        for file in files:
            yield os.path.join(root,file)

In [12]:
import sqlalchemy
BL_SQL_CONNECTION= 'mysql+pymysql://jian:JubaPlus-2017@localhost/BigLots' 
BL_engine = sqlalchemy.create_engine(
        BL_SQL_CONNECTION, 
        pool_recycle=1800
    )
str_start_date="'2020-04-05'"
str_end_date="'2020-05-02'"

df_all_rewards=pd.read_sql("select customer_id_hashed, sign_up_date, sign_up_channel from BL_Rewards_Master \
where sign_up_date between %s and %s;"%(str_start_date,str_end_date),con=BL_engine).drop_duplicates()
print(df_all_rewards.shape)
df_all_rewards.head(2)

/usr/local/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

(989564, 3)

,customer_id_hashed,sign_up_date,sign_up_channel
0,62eeb3cf77f140b209f6244e2a0855d7a7d47e25fec5c1...,2020-04-05,ONLINE
1,7e3806ccc3e3e6ce08992023f9a3a4965fe094751f7d9b...,2020-04-05,ONLINE

In [13]:
print(df_all_rewards['sign_up_date'].min(),df_all_rewards['sign_up_date'].max(),df_all_rewards['sign_up_date'].nunique())
(df_all_rewards['sign_up_date'].max()-df_all_rewards['sign_up_date'].min()).days

2020-04-05 2020-05-02 28

27

In [14]:
df_all_rewards.head(2)

,customer_id_hashed,sign_up_date,sign_up_channel
0,62eeb3cf77f140b209f6244e2a0855d7a7d47e25fec5c1...,2020-04-05,ONLINE
1,7e3806ccc3e3e6ce08992023f9a3a4965fe094751f7d9b...,2020-04-05,ONLINE

In [15]:
df_all_rewards['sign_up_channel'].unique()

array(['ONLINE', 'STORE'], dtype=object)

In [16]:
list_pos_sales=list(recursive_file_gen("/home/jian/BigLots/2020_by_weeks/"))
list_pos_sales=[x for x in list_pos_sales if "daily" in x.lower()]
list_pos_sales=[x for x in list_pos_sales if x[-4:]==".txt"]
list_pos_sales=[x for x in list_pos_sales if x.split("MediaStorm_")[1][:10]<="2020-05-09"]
list_pos_sales=[x for x in list_pos_sales if x.split("MediaStorm_")[1][:10]>="2020-04-05"]

In [17]:
list_pos_sales

['/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-04-11/MediaStormDailySales20200414-120340-722.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-04-18/MediaStormDailySales20200421-111910-356.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-04-25/MediaStormDailySales20200428-111922-148.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-05-02/MediaStormDailySales20200505-111805-965.txt',
 '/home/jian/BigLots/2020_by_weeks/MediaStorm_2020-05-09/MediaStormDailySales20200512-121042-623.txt']

In [18]:
df_prod_taxonomy=pd.read_table("/home/jian/BigLots/static_files/ProductTaxonomy/MediaStormProductTaxonomy20200501-152045-636.txt",
                               dtype=str,sep="|")
df_prod_taxonomy=df_prod_taxonomy[['division_id','class_code_id','subclass_id']].drop_duplicates()

In [19]:
df_all_pos_5_weeks_rewards=pd.DataFrame()
# df_all_pos_5_weeks_nonrewards=pd.DataFrame()

i_counter=0
for file in list_pos_sales:
    df=pd.read_csv(file,dtype=str,sep="|")
    week_end_dt=df['transaction_dt'].max()
    df['week_end_dt']=week_end_dt
    
    df['item_transaction_amt']=df['item_transaction_amt'].astype(float)
    df['item_transaction_units']=df['item_transaction_units'].astype(int)

    df_rewards=df[pd.notnull(df['customer_id_hashed'])]
    # df_nonrewards=df[pd.isnull(df['customer_id_hashed'])]
        
    df_all_pos_5_weeks_rewards=df_all_pos_5_weeks_rewards.append(df_rewards)
    # df_all_pos_5_weeks_nonrewards=df_all_pos_5_weeks_nonrewards.append(df_nonrewards)
    
    i_counter+=1
    print(i_counter,datetime.datetime.now(),week_end_dt)

1 2020-06-05 18:26:33.640168 2020-04-11
2 2020-06-05 18:32:41.557739 2020-04-18
3 2020-06-05 18:38:48.864755 2020-04-25
4 2020-06-05 18:45:38.173058 2020-05-02
5 2020-06-05 18:52:44.935836 2020-05-09

In [20]:
print(df_all_pos_5_weeks_rewards.shape)
df_all_pos_5_weeks_rewards.head(2)

(48507486, 10)

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt,week_end_dt
0,1169,2020-04-11,5747,8aa7541e68e450579b1f7584a8eec2c0c48d097733818b...,34022,1,810432978,1,5.99,2020-04-11
4,1017,2020-04-09,4146,df02877b5345876ee3828580ef80324cdc73fd4b96a259...,11003,18,810083056,2,4.07,2020-04-11

In [21]:
df_all_pos_5_weeks_rewards=pd.merge(df_all_pos_5_weeks_rewards,df_prod_taxonomy,on=['class_code_id','subclass_id'],how="left")
df_all_pos_5_weeks_rewards['division_id']=df_all_pos_5_weeks_rewards['division_id'].fillna("-1")
df_all_pos_5_weeks_rewards.head(2)

,location_id,transaction_dt,transaction_id,customer_id_hashed,class_code_id,subclass_id,item_id,item_transaction_units,item_transaction_amt,week_end_dt,division_id
0,1169,2020-04-11,5747,8aa7541e68e450579b1f7584a8eec2c0c48d097733818b...,34022,1,810432978,1,5.99,2020-04-11,4
1,1017,2020-04-09,4146,df02877b5345876ee3828580ef80324cdc73fd4b96a259...,11003,18,810083056,2,4.07,2020-04-11,1

In [22]:
df_all_pos_5_weeks_rewards['store_type']=np.where(df_all_pos_5_weeks_rewards['location_id']=="6990","online","instore")

In [23]:
df_all_pos_5_weeks_rewards_by_div=df_all_pos_5_weeks_rewards.groupby(["customer_id_hashed","store_type","division_id"])['item_transaction_amt'].sum().to_frame().reset_index()
df_all_pos_5_weeks_rewards_by_div_trans=df_all_pos_5_weeks_rewards[["customer_id_hashed","store_type","division_id","location_id","transaction_dt","transaction_id"]].drop_duplicates()
df_all_pos_5_weeks_rewards_by_div_trans=df_all_pos_5_weeks_rewards_by_div_trans.groupby(["customer_id_hashed","store_type","division_id"])['transaction_id'].count().to_frame().reset_index()

df_all_pos_5_weeks_rewards_by_div=pd.merge(df_all_pos_5_weeks_rewards_by_div,df_all_pos_5_weeks_rewards_by_div_trans,on=["customer_id_hashed","store_type","division_id"],how="outer")
df_all_pos_5_weeks_rewards_by_div=df_all_pos_5_weeks_rewards_by_div.fillna(0)

df_all_pos_5_weeks_rewards_by_div=df_all_pos_5_weeks_rewards_by_div.pivot_table(index=['customer_id_hashed'],columns=['division_id','store_type'],values=['item_transaction_amt','transaction_id'])
df_all_pos_5_weeks_rewards_by_div=df_all_pos_5_weeks_rewards_by_div.fillna(0)
df_all_pos_5_weeks_rewards_by_div.head(3)

                                                   item_transaction_amt  \
division_id                                                           1
store_type                                                      instore
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...                 0.00
000008146a15884db40b753f8829c6887be71e51368303c...                10.25
0000089103600e124943b7df1c8068baefed3386fcdaf09...                23.84

                                                                           \
division_id                                                    10       2
store_type                                         online instore instore
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...    0.0     0.0   50.50
000008146a15884db40b753f8829c6887be71e51368303c...    0.0     0.0    5.95
0000089103600e124943b7df1c8068baefed3386fcdaf09...    0.0     0.0   16.80

                                                                          \
division_id                                                     3
store_type                                         online instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...    0.0     0.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...    0.0    82.5    0.0
0000089103600e124943b7df1c8068baefed3386fcdaf09...    0.0    19.2    0.0

                                                                           \
division_id                                              4              5
store_type                                         instore online instore
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...    39.0    0.0     0.0
000008146a15884db40b753f8829c6887be71e51368303c...     0.0    0.0     0.0
0000089103600e124943b7df1c8068baefed3386fcdaf09...     0.0    0.0     0.0

                                                    ... transaction_id  \
division_id                                         ...              3
store_type                                          ...         online
customer_id_hashed                                  ...
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...  ...            0.0
000008146a15884db40b753f8829c6887be71e51368303c...  ...            0.0
0000089103600e124943b7df1c8068baefed3386fcdaf09...  ...            0.0

                                                                           \
division_id                                              4              5
store_type                                         instore online instore
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...     1.0    0.0     0.0
000008146a15884db40b753f8829c6887be71e51368303c...     0.0    0.0     0.0
0000089103600e124943b7df1c8068baefed3386fcdaf09...     0.0    0.0     0.0

                                                                          \
division_id                                                     6
store_type                                         online instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...    0.0     0.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...    0.0     0.0    0.0
0000089103600e124943b7df1c8068baefed3386fcdaf09...    0.0     0.0    0.0


division_id                                              8       9
store_type                                         instore instore online
customer_id_hashed
000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd075...     0.0     0.0    0.0
000008146a15884db40b753f8829c6887be71e51368303c...     0.0     0.0    0.0
0000089103600e124943b7df1c8068baefed3386fcdaf09...     0.0     0.0    0.0

[3 rows x 32 columns]

In [24]:
list_cols_new=[]
for col_tuple in df_all_pos_5_weeks_rewards_by_div.columns.tolist():
    col_new="_".join(col_tuple).replace("item_transaction_amt","sales").replace("transaction_id","trans")
    print(col_new,col_tuple)
    list_cols_new.append(col_new)
df_all_pos_5_weeks_rewards_by_div=df_all_pos_5_weeks_rewards_by_div.reset_index()
df_all_pos_5_weeks_rewards_by_div.columns=['customer_id_hashed']+list_cols_new

df_all_pos_5_weeks_rewards_by_div.head(2)

sales_1_instore ('item_transaction_amt', '1', 'instore')
sales_1_online ('item_transaction_amt', '1', 'online')
sales_10_instore ('item_transaction_amt', '10', 'instore')
sales_2_instore ('item_transaction_amt', '2', 'instore')
sales_2_online ('item_transaction_amt', '2', 'online')
sales_3_instore ('item_transaction_amt', '3', 'instore')
sales_3_online ('item_transaction_amt', '3', 'online')
sales_4_instore ('item_transaction_amt', '4', 'instore')
sales_4_online ('item_transaction_amt', '4', 'online')
sales_5_instore ('item_transaction_amt', '5', 'instore')
sales_5_online ('item_transaction_amt', '5', 'online')
sales_6_instore ('item_transaction_amt', '6', 'instore')
sales_6_online ('item_transaction_amt', '6', 'online')
sales_8_instore ('item_transaction_amt', '8', 'instore')
sales_9_instore ('item_transaction_amt', '9', 'instore')
sales_9_online ('item_transaction_amt', '9', 'online')
trans_1_instore ('transaction_id', '1', 'instore')
trans_1_online ('transaction_id', '1', 'online')
trans_10_instore ('transaction_id', '10', 'instore')
trans_2_instore ('transaction_id', '2', 'instore')
trans_2_online ('transaction_id', '2', 'online')
trans_3_instore ('transaction_id', '3', 'instore')
trans_3_online ('transaction_id', '3', 'online')
trans_4_instore ('transaction_id', '4', 'instore')
trans_4_online ('transaction_id', '4', 'online')
trans_5_instore ('transaction_id', '5', 'instore')
trans_5_online ('transaction_id', '5', 'online')
trans_6_instore ('transaction_id', '6', 'instore')
trans_6_online ('transaction_id', '6', 'online')
trans_8_instore ('transaction_id', '8', 'instore')
trans_9_instore ('transaction_id', '9', 'instore')
trans_9_online ('transaction_id', '9', 'online')

,customer_id_hashed,sales_1_instore,sales_1_online,sales_10_instore,sales_2_instore,sales_2_online,sales_3_instore,sales_3_online,sales_4_instore,sales_4_online,...,trans_3_online,trans_4_instore,trans_4_online,trans_5_instore,trans_5_online,trans_6_instore,trans_6_online,trans_8_instore,trans_9_instore,trans_9_online
0,000006ff76d207f0c8fbb0262fb87c64b31a75dc89fd07...,0.00,0.0,0.0,50.50,0.0,0.0,0.0,39.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000008146a15884db40b753f8829c6887be71e51368303...,10.25,0.0,0.0,5.95,0.0,82.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
df_seg_group=df_ID_matched_both[['customer_id_hashed','segment','group']].drop_duplicates()
print(df_seg_group[['customer_id_hashed','segment']].drop_duplicates().shape)
print(df_seg_group.shape,df_seg_group['customer_id_hashed'].nunique())

df_id_by_group=df_seg_group[['customer_id_hashed','segment']].drop_duplicates()

for group_name,df_group in df_seg_group.groupby("group"):
    df_group=df_group[['customer_id_hashed','group']].drop_duplicates()
    df_group=df_group.rename(columns={"group":group_name})
    df_group[group_name]=1
    df_id_by_group=pd.merge(df_id_by_group,df_group,on="customer_id_hashed",how="left")
df_id_by_group=df_id_by_group.fillna(0)
df_id_by_group.head(3)

(403857, 2)
(411040, 3) 403857

,customer_id_hashed,segment,Control_seg_1_BL_visitor,Control_seg_2_BL_vacinity,Control_seg_3_nonfurn_visitor,Control_seg_4_grocery_visitor,Test_Phase1_seg_1_BL_visitor,Test_Phase1_seg_2_BL_vacinity,Test_Phase1_seg_3_nonfurn_visitor,Test_Phase1_seg_4_grocery_visitor
0,7c4dad94921c6df2dc592b1fdcaa7df2f100096656bcdf...,T_Legacy_Active_M_S_Below50K_SingleFamily_Comp...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,8bf996a56a791ccd383ba7bb0c2432703701814e56817f...,T_Legacy_Active_M_S_Below50K_SingleFamily_Comp...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,9d6cb850368a834e0150de40ce061d5b76d9aa332bc129...,C_Legacy_Active_L_P_Below50K_SingleFamily_Comp...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [26]:
df_id_by_group=pd.merge(df_id_by_group,df_all_pos_5_weeks_rewards_by_div,on="customer_id_hashed",how="left")
df_id_by_group=df_id_by_group.fillna(0)
# 
df_id_by_group=pd.merge(df_all_rewards,df_id_by_group,on="customer_id_hashed",how="right")

In [27]:
print(df_id_by_group[pd.notnull(df_id_by_group['sign_up_date'])]['sign_up_date'].min(),df_id_by_group[pd.notnull(df_id_by_group['sign_up_date'])]['sign_up_date'].max())

2020-04-05 2020-05-02

In [28]:
list_mobile_group=df_ID_matched_both['group'].unique().tolist()

cols_sum_agg=[x for x in df_id_by_group.columns.tolist() if "sales_" in x or "trans_" in x]
df_rewards_matched=pd.DataFrame()

for mobile_seg in list_mobile_group:
    df=df_id_by_group[df_id_by_group[mobile_seg]==1]
    df['sign_up_group']=np.where(pd.isnull(df['sign_up_date']),"old_rewards",
                                 np.where(df['sign_up_channel']=="ONLINE","new_online_rewards","new_instore_rewards")
                                )
    df_count_matched=df.groupby(['sign_up_group'])['customer_id_hashed'].count().to_frame().reset_index()
    df_sales_trans=df.groupby(['sign_up_group'])[cols_sum_agg].sum().reset_index()
    df=pd.merge(df_count_matched,df_sales_trans,on="sign_up_group",how="outer")
    df.insert(0,"group",mobile_seg)
    df_rewards_matched=df_rewards_matched.append(df)
df_rewards_matched=df_rewards_matched.rename(columns={"customer_id_hashed":"matched_id_count"})

/home/jian/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [29]:
list_new_signed_id_online=df_id_by_group[df_id_by_group['sign_up_channel']=="ONLINE"]['customer_id_hashed'].unique().tolist()
list_new_signed_id_instore=df_id_by_group[df_id_by_group['sign_up_channel']=="STORE"]['customer_id_hashed'].unique().tolist()
print("len(list_new_signed_id_online)",len(list_new_signed_id_online))
print("len(list_new_signed_id_instore)",len(list_new_signed_id_instore))

len(list_new_signed_id_online) 10889
len(list_new_signed_id_instore) 3033

In [30]:
df_all_pos_5_weeks_rewards['sign_up_group']=np.where(df_all_pos_5_weeks_rewards['customer_id_hashed'].isin(list_new_signed_id_online),"new_online_rewards",
                                                     np.where(df_all_pos_5_weeks_rewards['customer_id_hashed'].isin(list_new_signed_id_instore),"new_instore_rewards","old_rewards")
                                                    )

df_shopper_id_week_store_type_seg=df_all_pos_5_weeks_rewards[['customer_id_hashed','division_id','store_type','sign_up_group']].drop_duplicates()
df_shopper_id_week_store_type_seg=pd.merge(df_shopper_id_week_store_type_seg,df_seg_group,on="customer_id_hashed",how="left")

df_shoppers_by_week_store_type=df_shopper_id_week_store_type_seg[['group','customer_id_hashed','division_id','store_type','sign_up_group']]
df_shoppers_by_week_store_type=df_shoppers_by_week_store_type.groupby(['group','sign_up_group',"division_id","store_type"])['customer_id_hashed'].nunique().to_frame().reset_index()

df_shoppers_by_week_both_storetype=df_shopper_id_week_store_type_seg[['group','customer_id_hashed','division_id','sign_up_group']].drop_duplicates()
df_shoppers_by_week_both_storetype=df_shoppers_by_week_both_storetype.groupby(['group','sign_up_group',"division_id"])['customer_id_hashed'].nunique().to_frame().reset_index()

In [31]:
df_shoppers_by_week_store_type=df_shoppers_by_week_store_type.pivot_table(index=['group','sign_up_group'],columns=['division_id','store_type'],values=['customer_id_hashed'])
df_shoppers_by_week_store_type=df_shoppers_by_week_store_type.fillna(0)
df_shoppers_by_week_store_type=df_shoppers_by_week_store_type.reset_index()
list_cols_new=[]
for col_tuple in df_shoppers_by_week_store_type.columns.tolist():
    col_new="_".join(col_tuple).replace("item_transaction_amt","sales").replace("transaction_id","trans").replace("__","")
    print(col_new,col_tuple)
    list_cols_new.append(col_new)
df_shoppers_by_week_store_type.columns=list_cols_new
df_shoppers_by_week_store_type.head(2)

group ('group', '', '')
sign_up_group ('sign_up_group', '', '')
customer_id_hashed_1_instore ('customer_id_hashed', '1', 'instore')
customer_id_hashed_1_online ('customer_id_hashed', '1', 'online')
customer_id_hashed_10_instore ('customer_id_hashed', '10', 'instore')
customer_id_hashed_2_instore ('customer_id_hashed', '2', 'instore')
customer_id_hashed_2_online ('customer_id_hashed', '2', 'online')
customer_id_hashed_3_instore ('customer_id_hashed', '3', 'instore')
customer_id_hashed_3_online ('customer_id_hashed', '3', 'online')
customer_id_hashed_4_instore ('customer_id_hashed', '4', 'instore')
customer_id_hashed_4_online ('customer_id_hashed', '4', 'online')
customer_id_hashed_5_instore ('customer_id_hashed', '5', 'instore')
customer_id_hashed_5_online ('customer_id_hashed', '5', 'online')
customer_id_hashed_6_instore ('customer_id_hashed', '6', 'instore')
customer_id_hashed_6_online ('customer_id_hashed', '6', 'online')
customer_id_hashed_8_instore ('customer_id_hashed', '8', 'instore')
customer_id_hashed_9_instore ('customer_id_hashed', '9', 'instore')
customer_id_hashed_9_online ('customer_id_hashed', '9', 'online')

,group,sign_up_group,customer_id_hashed_1_instore,customer_id_hashed_1_online,customer_id_hashed_10_instore,customer_id_hashed_2_instore,customer_id_hashed_2_online,customer_id_hashed_3_instore,customer_id_hashed_3_online,customer_id_hashed_4_instore,customer_id_hashed_4_online,customer_id_hashed_5_instore,customer_id_hashed_5_online,customer_id_hashed_6_instore,customer_id_hashed_6_online,customer_id_hashed_8_instore,customer_id_hashed_9_instore,customer_id_hashed_9_online
0,Control_seg_1_BL_visitor,new_instore_rewards,79.0,0.0,0.0,82.0,0.0,43.0,0.0,66.0,0.0,45.0,0.0,44.0,0.0,0.0,23.0,0.0
1,Control_seg_1_BL_visitor,new_online_rewards,25.0,0.0,0.0,28.0,0.0,35.0,1.0,36.0,0.0,20.0,0.0,17.0,0.0,0.0,25.0,0.0

In [32]:
df_shoppers_by_week_both_storetype['store_type']="bothOnlineInstore"
df_shoppers_by_week_both_storetype=df_shoppers_by_week_both_storetype.pivot_table(index=['group','sign_up_group'],columns=['division_id','store_type'],values=['customer_id_hashed'])
df_shoppers_by_week_both_storetype=df_shoppers_by_week_both_storetype.fillna(0)
df_shoppers_by_week_both_storetype=df_shoppers_by_week_both_storetype.reset_index()
list_cols_new=[]
for col_tuple in df_shoppers_by_week_both_storetype.columns.tolist():
    col_new="_".join(col_tuple).replace("item_transaction_amt","sales").replace("transaction_id","trans").replace("__","")
    print(col_new,col_tuple)
    list_cols_new.append(col_new)
df_shoppers_by_week_both_storetype.columns=list_cols_new

group ('group', '', '')
sign_up_group ('sign_up_group', '', '')
customer_id_hashed_1_bothOnlineInstore ('customer_id_hashed', '1', 'bothOnlineInstore')
customer_id_hashed_10_bothOnlineInstore ('customer_id_hashed', '10', 'bothOnlineInstore')
customer_id_hashed_2_bothOnlineInstore ('customer_id_hashed', '2', 'bothOnlineInstore')
customer_id_hashed_3_bothOnlineInstore ('customer_id_hashed', '3', 'bothOnlineInstore')
customer_id_hashed_4_bothOnlineInstore ('customer_id_hashed', '4', 'bothOnlineInstore')
customer_id_hashed_5_bothOnlineInstore ('customer_id_hashed', '5', 'bothOnlineInstore')
customer_id_hashed_6_bothOnlineInstore ('customer_id_hashed', '6', 'bothOnlineInstore')
customer_id_hashed_8_bothOnlineInstore ('customer_id_hashed', '8', 'bothOnlineInstore')
customer_id_hashed_9_bothOnlineInstore ('customer_id_hashed', '9', 'bothOnlineInstore')

In [33]:
df_shoppers_by_both_storetype_all_5_weeks=df_shopper_id_week_store_type_seg.groupby(["group",'sign_up_group'])['customer_id_hashed'].nunique().to_frame().reset_index()
df_shoppers_by_both_storetype_all_5_weeks=df_shoppers_by_both_storetype_all_5_weeks.rename(columns={"customer_id_hashed":"shopper_count_5_weeks"})

#
'''
df_shoppers_by_both_storetype_first_4_weeks=df_shopper_id_week_store_type_seg[df_shopper_id_week_store_type_seg['week_end_dt']!="2020-05-09"]
df_shoppers_by_both_storetype_first_4_weeks=df_shoppers_by_both_storetype_first_4_weeks.groupby(["group",'sign_up_group'])['customer_id_hashed'].nunique().to_frame().reset_index()
df_shoppers_by_both_storetype_first_4_weeks=df_shoppers_by_both_storetype_first_4_weeks.rename(columns={"customer_id_hashed":"shopper_count_first_4_weeks"})

#
df_shoppers_by_both_storetype_mid_3_weeks=df_shopper_id_week_store_type_seg[df_shopper_id_week_store_type_seg['week_end_dt']!="2020-04-11"]
df_shoppers_by_both_storetype_mid_3_weeks=df_shoppers_by_both_storetype_mid_3_weeks[df_shoppers_by_both_storetype_mid_3_weeks['week_end_dt']!="2020-05-09"]
df_shoppers_by_both_storetype_mid_3_weeks=df_shoppers_by_both_storetype_mid_3_weeks.groupby(["group",'sign_up_group'])['customer_id_hashed'].nunique().to_frame().reset_index()
df_shoppers_by_both_storetype_mid_3_weeks=df_shoppers_by_both_storetype_mid_3_weeks.rename(columns={"customer_id_hashed":"shopper_count_mid_3_weeks"})

#
df_shoppers_by_both_storetype_last_4_weeks=df_shopper_id_week_store_type_seg[df_shopper_id_week_store_type_seg['week_end_dt']!="2020-04-11"]
df_shoppers_by_both_storetype_last_4_weeks=df_shoppers_by_both_storetype_last_4_weeks.groupby(["group",'sign_up_group'])['customer_id_hashed'].nunique().to_frame().reset_index()
df_shoppers_by_both_storetype_last_4_weeks=df_shoppers_by_both_storetype_last_4_weeks.rename(columns={"customer_id_hashed":"shopper_count_last_4_weeks"})


df_agg_shopper_count=pd.merge(df_shoppers_by_both_storetype_all_5_weeks,df_shoppers_by_both_storetype_first_4_weeks,on=["group",'sign_up_group'],how="outer")
df_agg_shopper_count=pd.merge(df_agg_shopper_count,df_shoppers_by_both_storetype_mid_3_weeks,on=["group",'sign_up_group'],how="outer")
df_agg_shopper_count=pd.merge(df_agg_shopper_count,df_shoppers_by_both_storetype_last_4_weeks,on=["group",'sign_up_group'],how="outer")
'''
df_agg_shopper_count=df_shoppers_by_both_storetype_all_5_weeks.copy()

In [34]:
df_output=pd.merge(df_rewards_matched,df_agg_shopper_count,on=["group",'sign_up_group'],how="outer")
df_output.insert(0,'group_name',df_output['group'].str.replace("Test_Phase1_","").str.replace("Control_",""))
df_output.insert(1,'Test/Control',df_output['group'].apply(lambda x: x.split("_")[0]))
df_output=df_output.sort_values(['sign_up_group','group_name','Test/Control'])
df_output

,group_name,Test/Control,group,sign_up_group,matched_id_count,sales_1_instore,sales_1_online,sales_10_instore,sales_2_instore,sales_2_online,...,trans_4_instore,trans_4_online,trans_5_instore,trans_5_online,trans_6_instore,trans_6_online,trans_8_instore,trans_9_instore,trans_9_online,shopper_count_5_weeks
12,seg_1_BL_visitor,Control,Control_seg_1_BL_visitor,new_instore_rewards,143,747.82,0.00,0.00,1407.40,0.00,...,103.0,0.0,56.0,0.0,54.0,0.0,0.0,28.0,0.0,140
3,seg_1_BL_visitor,Test,Test_Phase1_seg_1_BL_visitor,new_instore_rewards,1122,10216.66,0.00,0.25,12798.66,0.00,...,816.0,0.0,513.0,0.0,474.0,0.0,0.0,248.0,4.0,1094
21,seg_2_BL_vacinity,Control,Control_seg_2_BL_vacinity,new_instore_rewards,90,688.31,0.00,0.00,881.31,0.00,...,68.0,0.0,43.0,0.0,31.0,0.0,0.0,22.0,0.0,86
6,seg_2_BL_vacinity,Test,Test_Phase1_seg_2_BL_vacinity,new_instore_rewards,429,2692.95,0.00,0.00,3461.63,0.00,...,274.0,1.0,170.0,0.0,152.0,0.0,0.0,82.0,0.0,416
15,seg_3_nonfurn_visitor,Control,Control_seg_3_nonfurn_visitor,new_instore_rewards,72,532.15,0.00,0.00,812.43,0.00,...,43.0,0.0,20.0,0.0,26.0,0.0,0.0,8.0,0.0,71
0,seg_3_nonfurn_visitor,Test,Test_Phase1_seg_3_nonfurn_visitor,new_instore_rewards,968,6427.00,0.00,0.10,9638.74,0.00,...,622.0,0.0,400.0,0.0,343.0,0.0,0.0,208.0,2.0,932
9,seg_4_grocery_visitor,Control,Control_seg_4_grocery_visitor,new_instore_rewards,58,580.21,0.00,0.00,714.93,0.00,...,47.0,0.0,30.0,0.0,31.0,0.0,0.0,8.0,0.0,57
18,seg_4_grocery_visitor,Test,Test_Phase1_seg_4_grocery_visitor,new_instore_rewards,186,1063.18,0.00,0.30,1530.89,0.00,...,103.0,0.0,68.0,0.0,57.0,0.0,0.0,37.0,0.0,178
13,seg_1_BL_visitor,Control,Control_seg_1_BL_visitor,new_online_rewards,447,209.36,0.00,0.00,253.25,0.00,...,47.0,0.0,24.0,0.0,17.0,0.0,0.0,26.0,0.0,81
4,seg_1_BL_visitor,Test,Test_Phase1_seg_1_BL_visitor,new_online_rewards,4051,2747.61,14.88,11.19,3761.64,0.00,...,352.0,4.0,178.0,0.0,123.0,3.0,0.0,216.0,25.0,626
22,seg_2_BL_vacinity,Control,Control_seg_2_BL_vacinity,new_online_rewards,349,104.40,0.00,0.00,221.77,0.00,...,28.0,1.0,15.0,0.0,10.0,0.0,0.0,21.0,0.0,48
7,seg_2_BL_vacinity,Test,Test_Phase1_seg_2_BL_vacinity,new_online_rewards,1623,856.47,0.00,0.00,996.37,0.00,...,107.0,4.0,53.0,2.0,46.0,0.0,0.0,92.0,9.0,209
16,seg_3_nonfurn_visitor,Control,Control_seg_3_nonfurn_visitor,new_online_rewards,255,139.46,0.00,0.00,411.81,0.00,...,20.0,0.0,9.0,0.0,3.0,0.0,0.0,13.0,2.0,33
1,seg_3_nonfurn_visitor,Test,Test_Phase1_seg_3_nonfurn_visitor,new_online_rewards,3500,1664.36,0.00,0.00,2594.89,0.00,...,231.0,8.0,126.0,0.0,87.0,0.0,0.0,148.0,18.0,455
10,seg_4_grocery_visitor,Control,Control_seg_4_grocery_visitor,new_online_rewards,192,122.76,0.00,0.00,184.24,0.00,...,10.0,0.0,7.0,0.0,3.0,0.0,0.0,5.0,0.0,24
19,seg_4_grocery_visitor,Test,Test_Phase1_seg_4_grocery_visitor,new_online_rewards,654,289.81,0.00,0.00,362.07,0.00,...,42.0,2.0,21.0,3.0,15.0,0.0,0.0,25.0,1.0,72
14,seg_1_BL_visitor,Control,Control_seg_1_BL_visitor,old_rewards,22528,71557.12,78.38,139.28,82759.95,44.83,...,3793.0,25.0,2442.0,4.0,2240.0,2.0,1.0,478.0,13.0,5774
5,seg_1_BL_visitor,Test,Test_Phase1_seg_1_BL_visitor,old_rewards,176788,565285.56,1043.76,816.51,646389.17,165.89,...,29161.0,177.0,18676.0,27.0,17418.0,22.0,0.0,3863.0,114.0,45132
23,seg_2_BL_vacinity,Control,Control_seg_2_BL_vacinity,old_rewards,9714,18703.22,234.47,0.00,22428.62,29.24,...,1063.0,5.0,715.0,2.0,677.0,1.0,0.0,165.0,8.0,1764
8,seg_2_BL_vacinity,Test,Test_Phase1_seg_2_BL_vacinity,old_rewards,48454,101013.61,116.68,41.37,116928.98,30.90,...,5665.0,31.0,3512.0,6.0,3292.0,1.0,0.0,785.0,28.0,9002
17,seg_3_nonfurn_visitor,Control,Control_seg_3_nonfurn_visitor,old_rewards,9042,18064.89,46.21,23.99,21534.69,0.00,...,969.0,4.0,626.0,2.0,569.0,1.0,0.0,163.0,6.0,1667
2,seg_3_nonfurn_visitor,Test,Test_Phase1_seg_3_nonfurn_visitor,old_rewards,104709,203734.12,901.28,280.50,238041.61,75.25,...,10863.0,74.0,7092.0,8.0,6634.0,10.0,0.0,1489.0,55.0,18392
11,seg_4_grocery_visitor,Control,Control_seg_4_grocery_visitor,old_rewards,5956,12162.03,19.50,0.00,14602.98,0.00,...,656.0,7.0,401.0,0.0,378.0,0.0,0.0,89.0,2.0,1061
20,seg_4_grocery_visitor,Test,Test_Phase1_seg_4_grocery_visitor,old_rewards,19710,39756.83,70.48,62.06,48585.38,11.73,...,2085.0,14.0,1338.0,6.0,1210.0,1.0,0.0,259.0,7.0,3524

In [35]:
df_division_name=pd.read_table("/home/jian/BigLots/static_files/MediaStorm Data Extract - Division Names.txt",sep="|")
df_division_name

    division_id              division_desc
0             1                       FOOD
1             2                CONSUMABLES
2             3                   SEASONAL
3             4                   SOFTHOME
4             5                   HARDHOME
5             6                 ELECNACCES
6             7                 Division 7
7             8  DIVISION 8 (EMP DISCOUNT)
8             9                  FURNITURE
9            10                DIVISION 10
10          999                   Wildcard

In [36]:
df_all_pos_5_weeks_rewards_transactions=df_all_pos_5_weeks_rewards[['location_id','transaction_dt','transaction_id','customer_id_hashed']].drop_duplicates()
print(df_all_pos_5_weeks_rewards_transactions.shape)
df_all_pos_5_weeks_rewards_transactions=df_all_pos_5_weeks_rewards_transactions.reset_index()
del df_all_pos_5_weeks_rewards_transactions['index']
df_all_pos_5_weeks_rewards_transactions=df_all_pos_5_weeks_rewards_transactions.reset_index()
df_all_pos_5_weeks_rewards_transactions=df_all_pos_5_weeks_rewards_transactions.rename(columns={"index":"transactions"})

df_id_group_only=df_ID_matched_both[['customer_id_hashed','group']].drop_duplicates()
df_all_pos_5_weeks_rewards_transactions=pd.merge(df_all_pos_5_weeks_rewards_transactions,df_id_group_only,on="customer_id_hashed",how="left")
df_all_pos_5_weeks_rewards_transactions['sign_up_group']=np.where(df_all_pos_5_weeks_rewards_transactions['customer_id_hashed'].isin(list_new_signed_id_online),"new_online_rewards",
                                                     np.where(df_all_pos_5_weeks_rewards_transactions['customer_id_hashed'].isin(list_new_signed_id_instore),"new_instore_rewards","old_rewards")
                                                    )
print(df_all_pos_5_weeks_rewards_transactions.shape)

df_total_transactions=df_all_pos_5_weeks_rewards_transactions.groupby(['group','sign_up_group'])['transactions'].nunique().to_frame().reset_index()
df_total_transactions['t/c']=df_total_transactions['group'].apply(lambda x: x.split("_")[0])
df_total_transactions['group_name']=df_output['group'].str.replace("Test_Phase1_","").str.replace("Control_","")
print(df_total_transactions['transactions'].sum())
df_total_transactions

(8094299, 4)
(8097409, 7)
168582

,group,sign_up_group,transactions,t/c,group_name
0,Control_seg_1_BL_visitor,new_instore_rewards,251,Control,seg_3_nonfurn_visitor
1,Control_seg_1_BL_visitor,new_online_rewards,110,Control,seg_3_nonfurn_visitor
2,Control_seg_1_BL_visitor,old_rewards,11135,Control,seg_3_nonfurn_visitor
3,Control_seg_2_BL_vacinity,new_instore_rewards,155,Control,seg_1_BL_visitor
4,Control_seg_2_BL_vacinity,new_online_rewards,75,Control,seg_1_BL_visitor
5,Control_seg_2_BL_vacinity,old_rewards,3185,Control,seg_1_BL_visitor
6,Control_seg_3_nonfurn_visitor,new_instore_rewards,120,Control,seg_2_BL_vacinity
7,Control_seg_3_nonfurn_visitor,new_online_rewards,58,Control,seg_2_BL_vacinity
8,Control_seg_3_nonfurn_visitor,old_rewards,2900,Control,seg_2_BL_vacinity
9,Control_seg_4_grocery_visitor,new_instore_rewards,107,Control,seg_4_grocery_visitor
10,Control_seg_4_grocery_visitor,new_online_rewards,34,Control,seg_4_grocery_visitor
11,Control_seg_4_grocery_visitor,old_rewards,1863,Control,seg_4_grocery_visitor
12,Test_Phase1_seg_1_BL_visitor,new_instore_rewards,2292,Test,seg_1_BL_visitor
13,Test_Phase1_seg_1_BL_visitor,new_online_rewards,1011,Test,seg_1_BL_visitor
14,Test_Phase1_seg_1_BL_visitor,old_rewards,86918,Test,seg_1_BL_visitor
15,Test_Phase1_seg_2_BL_vacinity,new_instore_rewards,672,Test,seg_3_nonfurn_visitor
16,Test_Phase1_seg_2_BL_vacinity,new_online_rewards,318,Test,seg_3_nonfurn_visitor
17,Test_Phase1_seg_2_BL_vacinity,old_rewards,16414,Test,seg_3_nonfurn_visitor
18,Test_Phase1_seg_3_nonfurn_visitor,new_instore_rewards,1570,Test,seg_4_grocery_visitor
19,Test_Phase1_seg_3_nonfurn_visitor,new_online_rewards,700,Test,seg_4_grocery_visitor
20,Test_Phase1_seg_3_nonfurn_visitor,old_rewards,32080,Test,seg_4_grocery_visitor
21,Test_Phase1_seg_4_grocery_visitor,new_instore_rewards,267,Test,seg_2_BL_vacinity
22,Test_Phase1_seg_4_grocery_visitor,new_online_rewards,116,Test,seg_2_BL_vacinity
23,Test_Phase1_seg_4_grocery_visitor,old_rewards,6231,Test,seg_2_BL_vacinity

In [37]:
'''
df_qc=df_all_pos_5_weeks_rewards_transactions.groupby(['group','sign_up_group'])['customer_id_hashed'].nunique().to_frame().reset_index()
df_qc matched with previous shopper count
'''

"\ndf_qc=df_all_pos_5_weeks_rewards_transactions.groupby(['group','sign_up_group'])['customer_id_hashed'].nunique().to_frame().reset_index()\ndf_qc matched with previous shopper count\n"

In [38]:
writer=pd.ExcelWriter("./BL_FB_April_Offer_Performance_Measurement_JL_"+str(datetime.datetime.now().date())+".xlsx",engine="xlsxwriter")
df_output.to_excel(writer,"output",index=False)
df_total_transactions.to_excel(writer,"total_trans",index=False)
df_shoppers_by_week_both_storetype.to_excel(writer,"shopper_by_store_type",index=False)
df_shoppers_by_week_store_type.to_excel(writer,"shopper_by_week",index=False)
df_summary_of_matched_id.to_excel(writer,"IDL_matched",index=False)
df_division_name.to_excel(writer,"df_division_name",index=False)
writer.save()