In [1]:
import pandas as pd
import os

os.getcwd()

'/home/jian/BigLots/static_files'

In [21]:
df_taxonomy=pd.read_table("/home/jian/BigLots/static_files/ProductTaxonomy/MediaStormProductTaxonomy20200501-152045-636.txt",
                         sep="|",dtype=str)
df_taxonomy

,division_id,department_id,class_code_id,subclass_id,subclass_desc
0,1,108,11001,2,Non-Chocolate Bagged
1,1,108,11001,4,Single Non-Chocolate
2,1,108,11001,6,King Size Non-Chocolate
3,1,108,11001,8,Count Goods Non-Chocolate
4,1,108,11001,10,Gum And Mints
...,...,...,...,...,...
2917,10,710,71010,752,NON EXEMPT PAPER BAGS
2918,10,710,71010,801,Special Deal Taxable
2919,10,710,71010,998,Non-Taxable Dummy Sub-Cla
2920,10,710,71020,999,Finance Use Only
2921,10,710,71099,999,Finance Use Only

In [22]:
class_name=pd.read_table("./MediaStorm Data Extract - Class Names.txt",dtype=str,sep="|",encoding="iso-8859-1")
department_name=pd.read_table("./MediaStorm Data Extract - Department Names.txt",dtype=str,sep="|")

In [23]:
class_name[class_name['class_code_desc'].apply(lambda x: "mattress" in x.lower())]

    class_code_id           class_code_desc
367         35045  MATTRESS PADS & BED ACCS
727         61501           TWIN MATTRESSES
728         61502           FULL MATTRESSES
729         61503          QUEEN MATTRESSES
730         61504           KING MATTRESSES

In [24]:
department_name[department_name['department_desc'].apply(lambda x: "mattress" in x.lower())]

   department_id department_desc
64           615      MATTRESSES

In [25]:
df_taxonomy[df_taxonomy['department_id']=="615"]

,division_id,department_id,class_code_id,subclass_id,subclass_desc
2307,9,615,61501,1,Good Twin Mattresses
2308,9,615,61501,3,Best Twin Mattresses
2309,9,615,61501,5,Twin Foundations
2310,9,615,61502,1,Good Full Mattresses
2311,9,615,61502,3,Best Full Mattresses
2312,9,615,61502,5,Full Foundations
2313,9,615,61503,1,Good Queen Mattresses
2314,9,615,61503,3,Best Queen Mattresses
2315,9,615,61503,5,Queen Foundations
2316,9,615,61504,1,Good King Mattresses
2317,9,615,61504,3,Best King Mattresses
2318,9,615,61504,5,King Foundations
2319,9,615,61505,1,Twin/Full Bedframes
2320,9,615,61505,999,Finance Use Only
2321,9,615,61599,999,Finance Use Only
2781,9,615,61501,2,Better Twin Mattresses
2782,9,615,61501,4,Premium Twin Mattresses
2783,9,615,61501,999,Finance Use Only
2784,9,615,61502,2,Better Full Mattresses
2785,9,615,61502,4,Premium Full Mattresses
2786,9,615,61502,999,Finance Use Only
2787,9,615,61503,2,Better Queen Mattresses
2788,9,615,61503,4,Premium Queen Mattresses
2789,9,615,61503,999,Finance Use Only
2790,9,615,61504,2,Better King Mattresses
2791,9,615,61504,4,Premium King Mattresses
2792,9,615,61504,999,Finance Use Only
2793,9,615,61505,2,Queen/King Bedframes
2794,9,615,61506,999,Finance Use Only

In [20]:
df_taxonomy['department_id'].unique().tolist()

['108']

In [ ]:
.