In [4]:
import pandas as pd
import os
import glob

In [25]:
data=pd.read_table('/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/MediaStormCustDtl.txt',sep=",",header=None)

In [20]:
data_new=pd.read_table('/home/jian/Projects/Big_Lots/Loyal_members/loyalty_sales_data/MediaStormSalesBiWeekly20180731-131255-894.txt',nrows=100,sep="|")

In [21]:
data_new.head(2)

,customer_id_hashed,transaction_dt,transaction_time,transaction_id,location_id,total_transaction_amt,total_transaction_units,merch_cat
0,a0d6dd8fb4ba42257bafdc385e7a221a71673e29ffc012...,2018-07-19,17:51,876,58,38.39,4.0,35039004
1,198e267bc14e80510aec480dd6177ff94b59c27aaa0620...,2018-07-22,20:04,3496,4049,22.00,4.0,32004002

In [26]:
data.tail(100)

                 0           1      2     3     4       5   6         7
95682622  36954116  2017-12-23  10:48  6032  5281   18.83  14  11104002
95682623  26767902  2017-12-23  18:33   367  1158   14.00   3  47007002
95682624  38003711  2017-12-23  14:58  1690  5155   25.00  13  11003002
95682625  30014753  2017-12-23  11:39  1489  1719   75.36  20  51014004
95682626   8104158  2017-12-23  14:46  6040   838   13.90   6  11403006
95682627  46691181  2017-12-23  21:25  7333  5191   88.75  17  51019002
95682628  18195361  2017-12-23  13:48  6659  4458    4.50   4  14001004
95682629   1681465  2017-12-23  10:42  8521   410   31.00   9  51019003
95682630  11659609  2017-12-23  10:14  9331  1191   39.75  11  34501002
95682631  32226274  2017-12-23  13:55  2660  5152   94.50  11  35018002
95682632   9193313  2017-12-23  17:34  8626  1729    2.75   1  11008004
95682633   7944282  2017-12-23  14:09  8497  1910   11.05   4  14003015
95682634  18167011  2017-12-23  13:53   863   204  101.75  26  35085003
95682635  15897229  2017-12-23  16:31  1644  1955   10.00   4  16004003
95682636  38647717  2017-12-23  13:28  6272    43   46.61  17  32005001
95682637   9029128  2017-12-23  13:46  4413  4341  103.93  17  34011003
95682638  46320070  2017-12-23  17:44  1755  5326   52.05  15  41011002
95682639  11840526  2017-12-23  17:48  1285  1663    6.70   3  11002004
95682640  46692395  2017-12-23  22:57  9246  4631   42.00  10  36008008
95682641  15031147  2017-12-23  15:28  8318   407   23.50   3  35019002
95682642  17646484  2017-12-23  15:00  3389  1667    8.50   2  11404007
95682643  31360634  2017-12-23  13:51  2053  4653   49.25   9  51016004
95682644  17166880  2017-12-23  15:23  7787  4436   59.74  24  15002002
95682645  45088930  2017-12-23  22:58  9566  5139   51.27  21  25002001
95682646  14863095  2017-12-23   9:09  7306  4565   34.60   2  34504005
95682647  36935235  2017-12-23  10:27  5902  4136    1.95   1  11014013
95682648  32971642  2017-12-23  13:55  6329   346   36.00   3  11404004
95682649  46687441  2017-12-23  18:01  4232  1081   49.99   1  35016008
95682650  37367896  2017-12-23  13:13  4402  1595   20.00   1  51012001
95682651  33519440  2017-12-23  14:15  1807  4661   76.85  27  11003003
...            ...         ...    ...   ...   ...     ...  ..       ...
95682692  14536881  2017-12-23  15:40  5738  1062   32.77   6  41005002
95682693  46673236  2017-12-23  11:07  9283   318   21.94  10  41001011
95682694   9555340  2017-12-23  22:39  6637  1003    8.00   1  36002001
95682695  10612110  2017-12-23  17:40  7823  4272   11.50   3  16004004
95682696  34033532  2017-12-23  14:31  1514  4583   32.10  11  11403012
95682697  20119381  2017-12-23  11:02  5555    37    5.95   1  14001003
95682698  45221367  2017-12-23  15:36  7652  1682    7.92   9  11101004
95682699  29312683  2017-12-23  17:30  7581   522   23.00   5  27006001
95682700  46677738  2017-12-23  10:43   954  4298   34.00   7  14001002
95682701  46529637  2017-12-23  14:30  4016  1847   14.25   2  35085001
95682702  46441408  2017-12-23  16:12   893   416   12.00   2  35048006
95682703  10942076  2017-12-23  10:18  8741  5325   54.90  15  11404004
95682704  46560875  2017-12-23  21:04  8034  1544   13.75   3  34504005
95682705  13933633  2017-12-23  21:44    10  4448   27.00   7  12004002
95682706  13933633  2017-12-23  21:44    10  4448   27.00   7  55006004
95682707  42892334  2017-12-23  19:35   103   368    9.95   4  11001001
95682708  25741500  2017-12-23  18:15  9470  1369   16.50   3  17004001
95682709  43907113  2017-12-23  17:14  5931  1805   22.29   4  31004001
95682710   9709198  2017-12-23  15:20  6222  1707    5.80   2  13004002
95682711   7374223  2017-12-23  21:25  6213  1920    7.35   5  24002008
95682712   7767044  2017-12-23  11:51   409  1820    4.00   1  13002002
95682713  11673786  2017-12-23  13:55   968  1595   12.00   1  55011002
95682714   2412145  2017-12-23  12:59  1302  5211   56.45  13  47007001
95682715  11004452  2017-12-23  14:08  7742  4501   12.00   2  16005002
95682716  46686555  2017-12-23  17:27  8294  1878   19.75   4  25002003
95682717  42249566  2017-12-23  19:42  7399  4541   71.00  10  34501003
95682718   9082359  2017-12-23  16:23  3281   153  -39.99  -1  55003009
95682719  34622851  2017-12-23  19:01  5238  5126   16.06   4  53001001
95682720   9656784  2017-12-23  14:32  1789  1426   44.50   9  47001003
95682721  12574842  2017-12-23  11:30  1289  5275   18.00   4  36006006

[100 rows x 8 columns]