In [1]:
import pandas as pd
import os
os.getcwd()

'/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2019Q2/output_2019-04-12'

In [5]:
detail_data=pd.read_csv("/home/jian/Projects/Big_Lots/Live_Ramp/Quarterly_Update_2019Q2/output_2019-04-12/dfrfm_final_details_wemail_zip_StoreQuad.csv")

KeyError: 'D01'

In [18]:
detail_data.head(2)

,frmindex,customer_id_hashed,RFM,recency,transactions,sales,active,email_address_hash,customer_zip_code,zipcodegroup,location_id,Quadrant
0,D01,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,111.0,1.0,1979,31812.53,active,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,P,1684.0,Quadrant I
1,D01,14b78c9088ecdbde7a771c49664157cfe588f86ae5ce5c...,111.0,1.0,1919,42819.02,active,d72cf03e94da3a0f89abc29df597ff699420ab1c2671b3...,87501,P,4147.0,Quadrant IV

In [17]:
df_min=detail_data.groupby(['frmindex','RFM'])['transactions'].max().to_frame().reset_index().rename(columns={"transactions":"trans_max"})
df_max=detail_data.groupby(['frmindex','RFM'])['transactions'].min().to_frame().reset_index().rename(columns={"transactions":"trans_min"})
x=pd.merge(df_min,df_max,on=['frmindex','RFM'])
x

   frmindex    RFM  trans_max  trans_min
0       D01  111.0       4210          3
1       D01  112.0         83          6
2       D02  112.0         59          3
3       D02  113.0         59          4
4       D02  114.0         34          4
5       D02  115.0        119          4
6       D02  121.0          3          2
7       D02  122.0          3          2
8       D02  123.0          3          2
9       D02  124.0          3          2
10      D02  125.0          3          2
11      D02  131.0          1          1
12      D02  132.0          1          1
13      D02  133.0          1          1
14      D02  134.0          1          1
15      D02  135.0          1          1
16      D03  135.0          1          1
17      D03  211.0       1343          4
18      D03  212.0         57          4
19      D03  213.0         25          4
20      D03  214.0         21          4
21      D03  215.0         26          4
22      D03  221.0          3          2
23      D03  222.0          3          2
24      D04  222.0          3          2
25      D04  223.0          3          2
26      D04  224.0          3          2
27      D04  225.0          3          2
28      D04  231.0          1          1
29      D04  232.0          1          1
..      ...    ...        ...        ...
34      D04  312.0         40          5
35      D05  312.0         20          4
36      D05  313.0         26          4
37      D05  314.0         16          4
38      D05  315.0         17          4
39      D05  321.0          3          2
40      D05  322.0          3          2
41      D05  323.0          3          3
42      D05  324.0          3          3
43      D05  325.0          3          3
44      D05  331.0          2          1
45      D05  332.0          2          1
46      D05  333.0          2          1
47      D06  333.0          1          1
48      D06  334.0          2          1
49      D06  335.0          2          1
50      D06  441.0          1          1
51      D06  442.0          1          1
52      D07  442.0          1          1
53      D07  443.0          1          1
54      D07  444.0          1          1
55      D08  444.0          1          1
56      D08  445.0          1          1
57      D08  551.0          1          1
58      D08  552.0          1          1
59      D09  552.0          1          1
60      D09  553.0          1          1
61      D09  554.0          1          1
62      D10  554.0          1          1
63      D10  555.0          1          1

[64 rows x 4 columns]

In [19]:
df_min=detail_data.groupby(['frmindex'])['recency'].max().to_frame().reset_index().rename(columns={"transactions":"trans_max"})
df_max=detail_data.groupby(['frmindex'])['recency'].min().to_frame().reset_index().rename(columns={"transactions":"trans_min"})
y=pd.merge(df_min,df_max,on=['frmindex'])
y

  frmindex  recency_x  recency_y
0      D01        2.0        1.0
1      D02        2.0        1.0
2      D03        4.0        1.0
3      D04        7.0        2.0
4      D05        9.0        4.0
5      D06       19.0        4.0
6      D07       19.0       10.0
7      D08       34.0        9.0
8      D09       34.0       19.0
9      D10       34.0       19.0

In [12]:
detail_data.head(2)

,frmindex,customer_id_hashed,RFM,recency,transactions,sales,active,email_address_hash,customer_zip_code,zipcodegroup,location_id,Quadrant
0,D01,b78dccfd64ce659af7061c5743b6b9305814336bc9ddec...,111.0,1.0,1979,31812.53,active,4836bfc632a2a5987d47fa6bf0637c21c4466a0e99ddee...,28607,P,1684.0,Quadrant I
1,D01,14b78c9088ecdbde7a771c49664157cfe588f86ae5ce5c...,111.0,1.0,1919,42819.02,active,d72cf03e94da3a0f89abc29df597ff699420ab1c2671b3...,87501,P,4147.0,Quadrant IV

In [9]:
len(test_2['customer_id_hashed'].unique())

2587810